@{
    ViewData["Title"] = "Placas del Plan";
}
<div class="container">
    <h1>Placas del Plan <span id="plan-id"></span></h1>

    <div class="card border-0">
        <div class="card-body">
            <table class="table" style="text-align:center">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Placa</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="placas-body">
                    <tr>
                        <td colspan="3">Cargando productos...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            const urlParams = new URLSearchParams(window.location.search);
            const idPlan = urlParams.get('id');
            $('#plan-id').text(idPlan);
            cargarPlacas(idPlan);
        });

        const cargarPlacas = async (idPlan) => {
            try {
                const response = await fetch(`/Picking/ObtenerPlacaPlan?ID=${idPlan}`);
                const data = await response.json();

                const $placasBody = $('#placas-body');
                $placasBody.empty();
                data.forEach((pla, index) => {
                    $placasBody.append(`
                                        <tr>
                                            <td>${index + 1}</td>
                                            <td>${pla.placa}</td>
                                            <td>
                                                <button class="btn btn-info planificar-btn" data-id="${pla.idPlanPla}">
                                                    <i class='bx bx-search'></i> Asignar
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-success detalles-btn" data-id="${pla.idPlanPla}">
                                                    <i class='bx bx-search'></i> Detalle
                                                </button>
                                            </td>
                                        </tr>
                                    `);
                });
                $('.planificar-btn').click(function () {
                    const idPlan = $(this).data('id');
                    window.location.href = `/Picking/PlanProductos?id=${idPlan}`;
                });
                $('.detalles-btn').click(function () {
                    const idPlan = $(this).data('id');
                    window.location.href = `/Picking/PickDetalles?id=${idPlan}`;
                });
            } catch (error) {
                console.error('Error al cargar los productos:', error);
                $('#productos-body').html('<tr><td colspan="3">Error al cargar los productos.</td></tr>');
            }
        };
    </script>
}
